<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personalcalculatingapplication">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalCalculatingApplication">
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.AboutUsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.chek.AddChekActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.chek.ChekListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.loan.AddLoanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.entire.AddEntireActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.income.AddIncomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.payment.AddPaymentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.entire.EntireListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.income.IncomeListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.loan.LoanListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.payment.PaymentListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PersonalCalculatingApplication.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>